<div>
  <button *ngIf="!isLoggedIn" class="btn" routerLink="/login">Войти</button>
  <div *ngIf="isLoggedIn" class="btn"  routerLink="/profile">{{userName}}</div>
  <div *ngIf="isLoggedIn" class="btn" (click)="logOut()" style="left:4%;">Выйти</div>
</div>
