<header *ngIf='!hide'>
    <nav>
        <ul id="top-menu">
            <li class="navmenu"><a class="active" routerLink="/" (click)="selectNavigation($event)">Стена</a></li>
            <!-- <li class="navmenu"><a routerLink="/groups" (click)="selectNavigation($event)">Группы</a></li> -->
            <li class="navmenu" mat-button [matMenuTriggerFor]="menuGroups" (click)="selectNavigation($event)"><a>Группы</a></li>
            <mat-menu #menuGroups="matMenu">
                <a mat-menu-item routerLink="/groups/join">Вступить в группу</a>
                <a mat-menu-item routerLink="/groups/my">Мои группы</a>
            </mat-menu>
            <li class="navmenu" mat-button [matMenuTriggerFor]="menu" (click)="selectNavigation($event)"><a>Друзья</a></li>
            <mat-menu #menu="matMenu">
                <a mat-menu-item routerLink="/friends">Найти друзей</a>
                <a mat-menu-item routerLink="/friends/requests">Запросы</a>
                <a mat-menu-item routerLink="/friends/my">Мои друзья</a>
              </mat-menu>
            </ul>
    </nav>
    <app-user-widget></app-user-widget>
</header>
