<div>
    <!-- <h1 class="h11">Найти группу</h1>

    <mat-form-field class="table_filter">
        <mat-label>Поиск</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Имя, фамилия, логин">
    </mat-form-field> -->

    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort class="table">
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
            <ng-container matColumnDef="groupName">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Название </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="creator">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Владелец </mat-header-cell>
                <mat-cell *matCellDef="let element" class="td"> {{element.creator.name}} {{element.creator.surname}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="join">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Покинуть </mat-header-cell>
                <mat-cell *matCellDef="let element" class="td">
                    <mat-icon class="icon" *ngIf="user.userId==element.creator.userId" (click)="openDeleteGroup(element)" >delete</mat-icon> 
                    <mat-icon class="icon" *ngIf="user.userId!=element.creator.userId" (click)="openLeaveGroup(element)" >backspace</mat-icon> 
                </mat-cell>
            </ng-container>
       
        </mat-table>
    </div>
</div>