<div style="display: flex;flex-direction: column;align-items: center;">
    Создать группу
    <mat-form-field>
        <input matInput placeholder="Название группы" [(ngModel)]="name">
    </mat-form-field>

  <div mat-dialog-actions style="display: flex; justify-content:space-around;">
      <button mat-button class="btn"(click)="onNoClick()" style="margin-right: 20px;">Отмена</button>
      <button mat-button class="btn"
      (click)="onYesClick()" cdkFocusInitial>Создать</button>
  </div>