<div>
    <h1 class="h11">Список друзей</h1>

    <mat-form-field class="table_filter">
        <mat-label>Поиск</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Имя, фамилия, логин">
    </mat-form-field>

    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort class="table">
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
            <ng-container matColumnDef="userId">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Логин </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Имя </mat-header-cell>
                <mat-cell *matCellDef="let element" class="td"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="surname">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Фамилия </mat-header-cell>
                <mat-cell *matCellDef="let element" class="td"> {{element.surname}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="accept">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Удалить </mat-header-cell>
                <mat-cell *matCellDef="let element" class="td"> <mat-icon style="color: #6f6fe1; cursor: pointer;" (click)="openDeleteFriend(element)" >delete</mat-icon></mat-cell>
            </ng-container>
       
        </mat-table>
    </div>
</div>