<div class="content-login">
  <main>
    <div>
      <h1 class="mb-4">ВХОД</h1>
      <div class="input-group">
        <input type="text" class="custom-input" placeholder="Логин" aria-label="Логин" aria-describedby="basic-addon1"
               [(ngModel)]="model.username">
      </div>
      <div class="input-group">
        <input type="password" class="custom-input" placeholder="Пароль" aria-label="Пароль"
               aria-describedby="basic-addon1" [(ngModel)]="model.password">
      </div>
      <div *ngIf="errMsg" style="color:indianred; font-weight: bold">{{errMsg}}</div>
      <div>
        <button class="btn btn-secondary" (click)="login()">Войти</button>
      </div>
      <div>
        <div>
          <a  routerLink="/login/reg">Зарегистрироваться</a>
        </div>
      </div>
    </div>
  </main>
</div>

<!-- <div class="content-login content-reg" *ngIf="!isLogin">
  <aside>
    <div>
      <h2>Уже зарегистрировались</h2>
      <div class="pt-2 pb-2">Войдите в ваш аккаунт чтобы продолжить обучение</div>
      <div>
        <a class="btn btn-secondary"  (click)="goReg()">Войти</a>
      </div>
    </div>
  </aside>
  <main>
    <div>
      <h1 class="mb-4">Регистрация</h1>
      <div class="input-group mt-2 mb-2">
        <i class="input-icon fas fa-envelope"></i>
        <input type="text" autocomplete="off" class="custom-input" placeholder="Логин" aria-label="Логин" aria-describedby="basic-addon1"
               [(ngModel)]="model.username">
      </div>
      <div class="input-group mt-2 mb-2">
        <i class="input-icon fas fa-lock"></i>
        <input type="password"  autocomplete="off" class="custom-input" placeholder="Пароль" aria-label="Пароль"
               aria-describedby="basic-addon1" [(ngModel)]="model.password">
      </div>
      <div class="input-group mt-2 mb-2">
        <i class="input-icon fas fa-lock"></i>
        <input type="password" autocomplete="off" class="custom-input" placeholder="Подтвердите пароль" aria-label="Подтвердите пароль"
               aria-describedby="basic-addon1">
      </div>
      <div>
        <button class="btn btn-secondary" (click)="registrartion()">Зарегистрироваться</button>
      </div>
    </div>
  </main>
</div> -->
