.blue-banner {
  background-color: #5b53d9;
  position: absolute;
  top: 0;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  left: 0;
}

.login-info {
  height: 100%;
  width: 60%;
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: white;
}

.right-info {
  right: 0;
}

.left-info {
  left: 0;
}

.login-btn {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid white;
  padding: 0.375rem 1.25rem;
  font-size: 1rem;
  border-radius: 1.25rem;
  outline: none;
  position: relative;
}

#user-creation {
  .content {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }

  #blue-content {
    color: white;
  }

  .sumbit-button {
    background: #6f6de1 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 6px #00000029;
    border-radius: 38px;
    opacity: 1;
    text-align: center;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    font-weight: bold;
    width: 100%;
    line-height: 60px;
  }

  .login-form {
    width: 60%;
    max-width: 450px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
  }
}

