* {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 0;
}


.navmenu a {
    color: black;
    text-decoration: none;
    margin-right: 1em;
    padding: 0.25em 1em;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 0.5em;
}

.navmenu a:hover {
    transition: border-color .5s;
    border-color: #b6c1f0;
}

.navmenu a.active {
    border-color: #6F6DE1;
}

.navmenu {
    margin: 10px 0;
}


.btn {
    display: inline-block;
    font-weight: 400;
    color: black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #6F6DE1;
    border: 1px solid transparent;
    padding: .375rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    outline: none;
    position: relative;
}

.btn i {
    position: relative;
    left: -0.3rem;
}

.container {
    position: relative;
    z-index: 1;
    width: 90%;
    margin: 0 auto;
}

header {
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul,
header nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}


.content-login {
    background-color: white;
    display: flex;
    height: 100vh;
    text-align: center;
}

.content-login h1 {
    font-size: 2rem;
}

.content-login h2 {
    font-size: 1.5rem;
}

.content-login aside {
    background-color: #5B53D9;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 5rem;
}

.content-login aside>div {
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-login main {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.content-login main .btn-secondary {
    width: 100%;
    padding: 1rem 0;
    margin: 1rem auto;
    font-size: 1.25rem;
    border-radius: 1000px;
}


.content-login main {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.content-login main .btn-secondary {
    width: 100%;
    padding: 1rem 0;
    margin: 1rem auto;
    font-size: 1.25rem;
    border-radius: 1000px;
}

input[type='text'].custom-input,
input[type='password'].custom-input {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 2px solid #6F6DE1;
    border-radius: 0;
    /* padding: 0.5rem 3rem; */
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 10rem;
}

.input-group {
    position: relative;
    display: flex;
    z-index: 1;
    align-self: center;
    margin: 1rem auto;
}

.input-icon {
    position: relative;
    z-index: 4;
    width: 1.5rem;
    padding-right: .5rem;
    padding-top: 0.2rem;
    color: #6F6DE1;
    border-right: 2px solid #4e02ff;
    margin: .5rem 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.info{

    background-color: #5a5a5a4f;
    border-radius: 20px;
    padding: 50px;
    height: 400px;
}

.item-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h11{
    font-size: 40px;
}

.tourDesc{
    margin-left: 50px;
    height: 370px;
}

.info_3{
    background-color: #EEE;
    border-radius: 20px;
    padding: 50px;
    height: auto;
    min-height: 60px;
    width: 500px;
    margin-bottom: 50px;
    border: solid;
    border-color: #6F6DE1;
}
.preview_img{
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.info_2{
    width: 1000px;
    display: flex;
    flex-direction: column;
    background-color: #5a5a5a4f;
    border-radius: 10px;
    padding: 20px;
    height: 370px;
    margin-bottom: 50px;
}
.add_img {
    /* background-image: url(assets/img/picture.svg); */
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid #6F6DE1;
    background-color: white;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 66%;
}

.item_card{
    width: 550px;
    height: auto;
    background: white;
    border-radius: 10px;
    border: #6F6DE1;
    border-style: solid;
}

.add_img {
    /* background-image: url(assets/img/picture.svg); */
    background-position: center;
    background-repeat: no-repeat;
    border: #6F6DE1;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(145, 143, 143);
    display: block;
    width: 90%;
    margin-top: 10px;
}

.close-lepest {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    /* background-image: url(./assets/img/cancel.svg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.preview_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: #6F6DE1;
    border-radius: 10px;
    background-color: rgb(145, 143, 143);
    display: block;
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }

  .input-icon {
    position: relative;
    z-index: 4;
    width: 1.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    color: #6f6de1;
    border-right: 2px solid #6f6de1;
    margin: 0.5rem 0;
}

.content {
    width: 65%;
}