<div class="item_card" style="display: flex; flex-direction: column; align-items: center;">
    <p class="card_name">{{post.creator.name}} {{post.creator.surname}}</p>
    <p class="card_name" style="padding: 10px;">{{post.postText}}</p>
    <div class="image-swiper">
        <ngx-image-swiper [config]="swiperConfig" [images]="postImages"></ngx-image-swiper>
      </div>
    <div class="card">
        <div style="margin-bottom: 20px; text-align: center;">{{post.date}}</div>
        <div style="display: flex;">
                <mat-icon aria-hidden="false" class="icon like {{post.id}}" style="padding-top: 0px; margin-right: 5px;" (click)="like($event)">thumb_up</mat-icon>
                {{post.likes}}<a style="margin-right: 50px;"></a>
                <mat-icon aria-hidden="false" class="icon dislike {{post.id}}" style="padding-top: 0px; margin-right: 5px;" (click)="dislike($event)">thumb_down</mat-icon>
                {{post.dislikes}}
        </div>
</div>
<div class="comments">
    <div *ngFor="let message of comments" class="com" style="margin-bottom: 10px;">
        <div style="font-style: italic; font-size: medium;"><mat-icon style="color: #6f6de1;">account_circle</mat-icon> {{message.user.name}} {{message.user.surname}}</div>
        <div>{{message.message}}</div>
    </div>
</div>

<div class="comment_text"><textarea class="textarea" style="resize: none;" placeholder="Оставить комментарий" [(ngModel)]="textNewMessage"></textarea>
 <button class="messendger_btn"  (click)="addComment()">Отправить</button>
</div>
</div>