.image-swiper {
    position: relative;
    width: 200px;
    height: 200px;
  }

.icon{
  padding-bottom: 10px;
  color: rgb(145, 143, 143);
  cursor: pointer;
}

.icon_active{
  padding-bottom: 10px;
  color: #6F6DE1;
  cursor: pointer;
}

.comments{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 81%;
  border-radius: 5px;
  border: solid;
  border-color: #6F6DE1;
  padding: 1%;
  margin-bottom: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.comment_text{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.com{
  padding-bottom: 5px;
  border-bottom: solid;
  border-color: #6F6DE1;
}