<div style="display: flex;flex-direction: column;align-items: center;">
    <h4 style="color: #6f6de1;" mat-dialog-title>{{group.name}}</h4>
    Удалить группу?
  </div>
  <div mat-dialog-actions style="display: flex; justify-content:space-around;">
      <button mat-button class="btn"(click)="onNoClick()">Нет</button>
      <button mat-button class="btn"
      (click)="onYesClick()" cdkFocusInitial>Да</button>
  </div>