<h1>Создание поста</h1>
<mat-form-field class="table_filter">
    <input matInput placeholder="Текст поста" [(ngModel)]="post!.postText">
</mat-form-field>
<div>
    <input class="btn" style="margin-top: 50px; margin-bottom: 50px;" type="file"(change)="addImage($event)">
  </div>
  <div class="image-swiper" *ngIf="isImgShow">
    <ngx-image-swiper [config]="swiperConfig" [images]="postImages"></ngx-image-swiper>
  </div>
  <div class="btn" style="margin-top: 50px; margin-bottom: 50px; margin-left: 80%;" (click)="save()">Сохранить</div>

