<div>
    <h1 class="h11">Запросы</h1>

    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort class="table">
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" > </mat-row>
            <ng-container matColumnDef="userId">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Логин </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.source.userId}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Имя </mat-header-cell>
                <mat-cell *matCellDef="let element" class="td"> {{element.source.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="surname">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Фамилия </mat-header-cell>
                <mat-cell *matCellDef="let element" class="td"> {{element.source.surname}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="accept">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="th"> Принять </mat-header-cell>
                <mat-cell *matCellDef="let element" class="td"> <mat-icon style="color: #6f6fe1; cursor: pointer;" (click)="openHandleRequests(element)" >check_circle</mat-icon></mat-cell>
            </ng-container>
       
        </mat-table>
    </div>
</div>