
.card{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.card_name{
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card_price{
    display: inline-block;
    // bottom: 0%;
    // top: auto;
    margin-left: 115px;
}