<div style="display: flex; flex-direction: column; align-items: center;">
<div class="btn" routerLink="/post/add" style="margin-bottom: 100px;">Создать пост</div>
<div *ngFor="let post of posts" style="margin-bottom: 50px;">
    <app-post-card [post]="post"></app-post-card>
</div>
</div>
