<div class="content-login">
  <main>
    <div>
      <h1 class="mb-4">Регистрация</h1>
      <div class="input-group">
        <input type="text" autocomplete="off" class="custom-input" placeholder="Логин" aria-label="Логин" aria-describedby="basic-addon1"
               [(ngModel)]="model.username">
      </div>
      <div class="input-group">
        <input type="text" autocomplete="off" class="custom-input" placeholder="Имя" aria-label="Имя" aria-describedby="basic-addon1"
               [(ngModel)]="model.name">
      </div>
      <div class="input-group">
        <input type="text" autocomplete="off" class="custom-input" placeholder="Фамилия" aria-label="Фамилия" aria-describedby="basic-addon1"
               [(ngModel)]="model.surname">
      </div>
      <div class="input-group">
        <input type="password"  autocomplete="off" class="custom-input" placeholder="Пароль" aria-label="Пароль"
               aria-describedby="basic-addon1" [(ngModel)]="model.password">
      </div>
      <div class="input-group">
        <input type="password" autocomplete="off" class="custom-input" placeholder="Подтвердите пароль" aria-label="Подтвердите пароль"
               aria-describedby="basic-addon1" [(ngModel)]="model.confirmPassword">
      </div>
      <div>
        <button class="btn btn-secondary" (click)="registrartion()">Зарегистрироваться</button>
      </div>
      <div>
        <a  routerLink="/login">Войти</a>
      </div>
    </div>
  </main>
</div>
