<h1>Профиль</h1>
<div class="flex" style="width: 80%;">
  <div class="width_25">
    <div class="profile_img">
      <input type="file" class="add_img" style="padding-top: 300px; width: 300px;" (change)="onFileChange($event)">
    </div>
  </div>
  <div class="contentProfile">
    <div id="block-name" class="content" (click)="openForEdit('name')">
      <div class="nameAtributeEditing">ФИО</div>
      <div class="atribute">
        {{user?.name}} {{user?.surname}}
      </div>
      <div>
        <mat-icon class="iconEdit">create</mat-icon>
      </div>
    </div>
    <div id="isHide-block-name" class="contentEdit isHidenBlock">
      <mat-form-field style="width: 48%;">
        <input matInput class="inputs " placeholder="Имя" (change)="checkToEnter()" [(ngModel)]="buffUser!.name">
      </mat-form-field>
      <mat-form-field style="width: 48%; margin-left: 2%;">
        <input matInput class="inputs " placeholder="Фамилия" (change)="checkToEnter()" [(ngModel)]="buffUser!.surname">
      </mat-form-field>
      <mat-icon class="iconEdit" *ngIf="buffUser!.name!.length > 0 || buffUser!.surname!.length > 0"
        style="right: 35px !important; display: block !important;" S (click)="closeEdit(true, 'name')">check</mat-icon>
      <mat-icon class="iconEdit" style="display: block !important;" (click)="closeEdit(false, 'name')">close</mat-icon>
    </div>


    <div id="block-password" class="content" (click)="openForEdit('password')">
      <div class="nameAtributeEditing ">Пароль</div>
      <div class="atribute ">
        ********
      </div>
      <div>
        <mat-icon class="iconEdit">create</mat-icon>
      </div>
    </div>
    <div id="isHide-block-password" class="contentEdit" *ngIf="isCheckPassword">
      <mat-form-field style="width: 49%;">
        <input matInput class="profile_input "  type="password" placeholder="Новый пароль " [(ngModel)]="newPsaaword"
          (change)="checkToEnter()">
      </mat-form-field>
      <mat-form-field style="width: 49%; margin-left: 2%;">
        <input matInput class="profile_input "  type="password" placeholder="Подтвердить " [(ngModel)]="newPsaawordconfirm">
      </mat-form-field>
      <mat-icon class="iconEdit" style="right: 35px !important; display: block !important;"
        *ngIf="newPsaaword == newPsaawordconfirm && newPsaaword!.length > 0 && newPsaawordconfirm!.length > 0"
        (click)="closeEdit(true, 'password') ">check</mat-icon>
      <mat-icon class="iconEdit" style="display: block !important;" (click)="closeEdit(false, 'password') ">close
      </mat-icon>
    </div>

    <div id="isHide-block-password" class="contentEdit isHidenBlock" *ngIf="!isCheckPassword">
      <mat-form-field style="width: 100%;">
        <input matInput class="profile_input " type="password" placeholder="Старый пароль" [(ngModel)]="buffUser!.password">
      </mat-form-field>
      <mat-icon class="iconEdit" style="right: 35px !important; display: block !important;"
        *ngIf="buffUser!.password!.length > 0" (click)="checkToPassword()">trending_flat</mat-icon>
      <mat-icon class="iconEdit" style="display: block !important;" (click)="closeEdit(false, 'password') ">close
      </mat-icon>
    </div>

    <div id="block-phone" class="content" (click)="openForEdit('phone')">
      <div class="nameAtributeEditing">Телефон</div>
      <div class="atribute">
        {{user?.phone == null ? 'телефон не указан' : user?.phone}}
      </div>
      <div>
        <mat-icon class="iconEdit">create</mat-icon>
      </div>
    </div>
    <div id="isHide-block-phone" class="contentEdit isHidenBlock">
      <mat-form-field style="width: 100%; ">
        <input matInput class="inputs" placeholder="Телефон" [(ngModel)]="buffUser!.phone " (change)="checkToEnter()">
      </mat-form-field>
      <mat-icon class="iconEdit" style="right: 35px !important; display: block !important;"
        (click)="closeEdit(true, 'phone') ">check</mat-icon>
      <mat-icon class="iconEdit" style="display: block !important;" (click)="closeEdit(false, 'phone') ">close
      </mat-icon>
    </div>

    <div id="block-floor" class="content" (click)="openForEdit('floor')">
      <div class="nameAtributeEditing ">Пол</div>
      <div class="atribute ">
        {{user?.gender == 'MALE' ? 'Мужcкой' : 'Женский'}}
      </div>
      <div>
        <mat-icon class="iconEdit">create</mat-icon>
      </div>
    </div>
    <div id="isHide-block-floor" class="contentEdit isHidenBlock">
      <mat-radio-group style="width: 100%; padding: 3% 0;  border-bottom: solid 1px #9F9DEB;"
        [(ngModel)]="buffUser!.gender">
        <mat-radio-button value="MALE" style="width: 50%; ">Мужской</mat-radio-button>
        <mat-radio-button value="WOMAN" style="width: 50%; ">Женский</mat-radio-button>
      </mat-radio-group>
      <mat-icon class="iconEdit" style="right: 35px !important; display: block !important;"
        (click)="closeEdit(true, 'floor') ">check</mat-icon>
      <mat-icon class="iconEdit" style="display: block !important;" (click)="closeEdit(false, 'floor') ">close
      </mat-icon>
    </div>
    <div class="btn" (click)="saveChanges()" style="margin-top: 20px;">Сохранить</div>

  </div>
</div>