.content, .contentEdit {
    transition: 0.3s;
    width: 100%;
    height: 50px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    display:flex;
    border-bottom: solid 1px #9F9DEB;
    margin-bottom: 5px;
  }
  
  .contentEdit {
    border-bottom: none;
    padding-left: 5px;
  }
  
  h1 {
    font-size: 50px;
    font-weight: bold;
    color: #6F6DE1;
    margin: 0 0 1rem 0;
    padding: 0;
  }
  
  .inputs {
    height: 24px;
  }
  
  .nameAtributeEditing, .atribute {
    padding: 4% 0;
  }
  
  .content:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: #DBDBF8;
    border-radius: 10px;
  }
  
  .contentProfile {
    width: 60%;
    /* margin: 0 auto; */
    position: relative;
  }
  
  .content:hover .iconEdit {
    display: block;
  }
  
  .isHidenBlock {
      display: none;
  }
  
  .iconEdit {
    cursor: pointer;
    position: absolute;
    right: 5px;
    padding: 2.5% 0;
    display: none;
    color: #4A4896;
  }
  
  .atribute, .nameAtributeEditing {
    display: inline-block;
  }
  
  .atribute {
    font-weight: 100;
  }
  .nameAtributeEditing {
    margin-right: 20px;
    width: 20%;
    margin-left: 5px;
  }
  

  main {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: #6F6DE1;
    margin: 0 0 1rem 0;
    padding: 0;
}

main .wrapper {
    padding: 20px 15px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}
